@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.url-form {
  background-image: url("../public/images/bg-shorten-mobile.svg");
}
@media screen and (min-width: 768px) {
  .url-form {
    background-image: url("../public/images/bg-shorten-desktop.svg");
  }
}
